.number {
  left: 2px;
  top: 1px;
  font-size: 15px;
  position: absolute;
}
.symbol {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  position: absolute;
  margin-top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.element {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-collapse: collapse;
  box-sizing: border-box;
  position: relative;
}
.active {
  background: #fff;
}
/* Categories and Groups */

/* Noble Gas  */
.noble {
  background: #f3d2e8;
}

/* Alkali Metal  */
.alkali {
  background: #f88379;
}

/* Alkaline Earth Metal  */
.alkaline {
  background: #ffc3a0;
}

/* Transition Metal  */
.transition {
  background: #e9ff08;
}

/* Polyatomic Non Metal  */
.polyatomic {
  background: #a3d2d5;
}

/* Diatomic Non Metal  */
.diatomic {
  background: #a3d5bf;
}

/* Post Transition Metal  */
.post-transition {
  background: #8eb1e7;
}

/* Metalloid  */
.metalloid {
  background: #5ed89c;
}

/* Lanthanide  */
.lanthanide {
  background: #cc99ff;
  margin-top: 5px;
}

/* Actinide  */
.actinide {
  background: #ad87bd;
}

/* The Unknown Element  */
.unknown {
  background: #ccffff;
}

/*Element position*/
/* Helium to the top right  */
.element-2 {
  grid-column-start: -2;
}

/* Boron & Alumunium to the right  */
.element-5,
.element-13 {
  grid-column-start: 13;
}

/* Lanthinide & Actinoid split  */
.element-58,
.element-90 {
  grid-column-start: 3;
}

.element-57 {
  margin: 0;
}
