.number {
    float: left;
    font-size: 0.5vw;
    position: absolute;
}
.symbol {
    font-weight: bold;
    text-align: center;
    margin-top: 0.5vw;
    font-size: 2.5vw;
}
.elementName {
    font-size: 0.8vw;
    text-align: center;
}
.element {
    cursor: pointer;
    width: 5vw;
    height: 5vw;

    padding: 2px;
    border: 1px solid #333333;
    border-collapse: collapse;
    overflow: hidden;
}
.active {
    background: #fff;
}
/* Categories and Groups */

/* Noble Gas  */
.noble {
background: #f3d2e8;
}

/* Alkali Metal  */
.alkali {
background: #f88379;
}

/* Alkaline Earth Metal  */
.alkaline {
background: #ffc3a0;
}

/* Transition Metal  */
.transition {
background: #e9ff08;
}

/* Polyatomic Non Metal  */
.polyatomic {
background: #a3d2d5;
}

/* Diatomic Non Metal  */
.diatomic {
background: #a3d5bf;
}

/* Post Transition Metal  */
.post-transition {
background: #8eb1e7;
}

/* Metalloid  */
.metalloid {
background: #5ed89c;
}

/* Lanthanide  */
.lanthanide {
background: #cc99ff;
/* Put a space to seperate the split table  */
/* margin-top: 2.5vw; */
}

/* Actinide  */
.actinide {
background: #ad87bd;
}

/* The Unknown Element  */
.unknown {
background: #ccffff;
}

/*Element position*/
/* Helium to the top right  */
.element-2 {
    grid-column-start: -2;
}
  
  /* Boron & Alumunium to the right  */
.element-5,
.element-13 {
grid-column-start: 13;
}
  
  /* Lanthinide & Actinoid split  */
.element-58,
  .element-90 {
    grid-column-start: 3;
}
  
.element-57 {
    margin: 0;
}