.form {
    border: 2px solid var(--var-primary-color);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    min-width: 600px;
    height: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px;
}
.formTitle {
    text-align: center;
    font-size: 3rem;
}
.inputContainer {
    display: flex;
    flex-direction: column;
}