.title {
    color: var(--var-primary-color);
    margin: 0;
    padding-top: 4rem;
    font-size: 4rem;
    text-align: center;
    font-family: var(--var-primary-font);
    font-weight: 900;
    font-style: italic;
    text-shadow: 3px 3px 5px var(--var-primary-color);
    letter-spacing: 10px;
}