:root {
    --var-primary-color:#ba3742;
    --var-primary-dark-color: rgba(186, 55, 66,1);
    --var-secondary-color: #37baaf;
    --var-secondary-dark-color: #267373;
    --var-terciary-color: #FFF;
    --var-quaternary-color: #37baaf;
    --var-primary-font: 'Bitter', serif;
    --var-secondary-font: 'Newsreader', serif;
    --var-error-color: #f44336;
    --var-grey-color: #B7B7B7;
}
body {
    padding: 0;
    margin: 0;
    position:absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0;  
}
#react {
    height: 100%;
}
.AppContainer {
    height: 100%;
    overflow: hidden;
}
.AppContent {
    height: 100%;
    overflow: hidden;
    background-color: white;
}
.mainApplication {
    height: calc(100% - 90px);
    overflow: auto;
    background-color: white;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;    
}
::-webkit-scrollbar-track {
    background: #f0efef; 
}
::-webkit-scrollbar-thumb {
    background-color: #c0c9cc;
    border-radius: 20px;       
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}